Homeworks/module_10/module_10_5/file_1.txt
Homeworks/module_10/module_10_5/file_2.txt
Homeworks/module_10/module_10_5/file_3.txt
Homeworks/module_10/module_10_5/file_4.txt
Homeworks/module_10/module_10_5/file_5.txt
Homeworks/module_10/module_10_5/file_6.txt
Homeworks/module_10/module_10_5/file_7.txt
Homeworks/module_10/module_10_5/file_8.txt
.venv/
.idea/
.vs/
.vscode/
venv/
